<link rel='stylesheet' type='text/css' href='/stylesheets/main.css' />


<header><title>Tesla Landing Page</title></header>
<body>



<div class="main-container">

    <div class="section">
    
        <div class="item">Miles Left</div>
        <div class="item">Internal Temperature</div>
        <div class="item">Current Battery Level</div>
        <div class="item">Max Battery range</div>
    </div>
    
         
    <div class="section">
    
        <div class="item"><%= data1  %></div>
        <div class="item"><%= data2  %></div>
        <div class="item"><%= data3  %></div>
        <div class="item"><%= data4  %></div>
    </div>

</div>


</body>
