<link rel='stylesheet' type='text/css' href='/stylesheets/main.css' />


<header><title>Tesla Landing Page</title></header>
<body>



<div class="main-container">

    <div class="section">
    
        <div class="item">Miles Left</div>
        <div class="item">Tire Pressure</div>
        <div class="item">Can get to nearest supercharger?</div>
        <div class="item">Honk horn</div>
    </div>
    
         
    <div class="section">
    
        <div class="item"><%= hi  %></div>
        <div class="item">data2</div>
        <div class="item">Data3</div>
        <div class="item">Data4</div>
    </div>

</div>


</body>
