body{
background: url(https://images.unsplash.com/photo-1544632795-2e45e65a8ce4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80); 


font-family: 'Prompt', sans-serif;
color: white;
}

.background{
	width:800px;
	margin:10px auto auto auto;

}


