<h1> THIS IS THE SIGN UP FORM IN THE MAKING </h1>


<form action="/register" method="POST">
	<input type="text" name="username" placeholder="username">
	<input type="password" name="password" placeholder="password">
	<button>Submit</button>
</form>


<li><a href="/register">SIGN UP!!</a></li>
<li><a href="/login">LOG IN</a></li>
<li><a href="/logout">LOG OUT</a></li>
