

<div  style="background-image: url('https://images.unsplash.com/photo-1544632795-2e45e65a8ce4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80'); height:100%;">


 <% include ./partials/header %>

<h1> Landing page! </h1>



<p>Welcome to my website for South San Diego! My name is Jorge Vasquez and my goal is to show off the many 'gems' that my community has to offer. Feel free to register for an account and add a spot of your own to help spread the word!</p>


<a href="/campgrounds">View all the South SD Spots!</a>



<% include ./partials/footer %>


</div>
